server {
        listen 80;
        listen [::]:80;
        server_name          apvanyushin.ru www.apvanyushin.ru;
        root /var/www/apvanyushin.ru/html;
        index index.html index.htm index.nginx-debian.html;
}
